/* 
    Created on : Jan 5, 2020, 12:23:24 AM
    Author     : Maulik
*/

.loader {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /*background-color: transparent;*/
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 99999;
                height: 100%;
                width: 100%;
                overflow: hidden !important;
            }

            /* Safari */
            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            .status {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite;  
                animation: spin 2s linear infinite;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -20px 0 0 -20px;
            }
